
.feature-section{
    margin-bottom:100px;
}
.feature{
    width: 425px;
    height:290px;
    border-radius: 10px;
    /* background-color: red; */
  overflow: hidden;
    background-size: cover;
}
.feature:nth-child(1){
    background-image: url("../images/feature-support.jpg") ;

}
.feature:nth-child(2){
    background-image: url("../images/feature-location.jpg") ;
    
}
.feature:nth-child(3){
    background-image: url("../images/feature-security.jpg") ;
    
}
.feature .info{
    border-radius: 10px;

    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #000;
    transform:translateY(100%) translateY(-20%);
    transition: transform 0.5s ease-out ;
}

.info::before{  
    z-index: -1;
    display: block;
    overflow: hidden;
    position: absolute;
    content: ' ';
    height: 100%;
    width: 100%;
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    transform: translateY(-100%)
    translateY(88px)
    translateZ(0);
    transition: transform 0.5s ease-out;

}

.info:nth-child(1)::before{
    background-image: url("../images/feature-support.jpg") ;

}
.info:nth-child(2)::before{
    background-image: url("../images/feature-location.jpg") ;
    
}
.info:nth-child(3)::before{
    background-image: url("../images/feature-security.jpg") ;
    
}

.feature:hover .info,
.feature:hover .info:before{
    transform: translateY(0) translateZ(0);
    overflow: auto;

}
.info .title{
    margin: 0;
    padding: 24px;
    font-size: 30px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.87);
}

.info  .description {
    margin: 0;
    color:white;
    padding: 0 24px 24px;
    font-size: 18px;
    line-height: 1.5;
    overflow: auto;
  }


  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fe7d15; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff9f51; 
  }

 