 
 @mixin textdecoration{
    text-decoration: none;
 }
 .navbar-sm{
	width: 95% !important;
	margin:auto;
    position: fixed !important;
    left:50%;
    transform: translateX(-50%);
	
	top:1%;
	z-index: 101;
	border:1px solid black;
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2) inset;

	border-radius: 10px;
	transition: all 0.5s ease-in-out;
}
.navbar {
  background-color: white;
  transition: all 0.5s ease-in-out;

  img {
    height: 50px;
  }
  .progress-container {
    position: relative;
    /* bottom:4px; */
    width: 98%;
    margin-inline: auto;
    height: 3px;
    background: transparent;
    border-radius: 10px;
    padding-inline: 0.6%;

    .progress-bar {
      height: 3px;
      background: #04aa6d;
      width: 0%;
      border-radius: 10px;
    }
  }
}

.hero-section {
	height: auto;
    img {
        object-fit: cover;
    }
    

    .hero-text {
        width: 75%;
        position: relative;
        bottom: 75px;
        background-color: white;
    }
}
.fa-square-facebook:hover ,.fa-linkedin:hover,.fa-youtube:hover{
	color:#03a776 !important;
}

footer {
a{
    @include textdecoration;
}
    .upper-footer{
        margin-bottom: 100px;


        .footer-links {
            a{
                
                position: relative ;
            display: inline-block;
            width: fit-content;
            font-size: 16px !important;
            margin:0 20px 15px;

            }
            a:hover{

                color:#03a776 !important;
            }
            a:hover::before{

                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width:0px;
                height:1px;
                background-color: #03a776;
                animation: links-hover 0.4s linear forwards;
            }
            
        }
    }
    .lower-footer {
        ul{
            margin:0;
            padding: 0;
            list-style-type: none;
        
       
        li{
        display: inline-block;
        a{
	
            display: block;
            cursor: pointer;
            padding:15px 10px;
            border-radius: 25px;
        
        }
    }
 }
}
}

.ads {
	height: auto;

    img {
	object-fit: cover;
	transition: scale 0.2s ease-in-out;
    &:hover {
        scale: 1.028;
        
    }
}
}

.hiring-img {
    img{
	transition: scale 0.2s ease-in-out;
    &:hover{
	scale: 1.3;
        }
    }
} 

.sidebar2-show{
	left:1vw !important;
}
.sidebar2 {
	position: fixed;
	display: flex;
	gap:3px;
	top: 25%;
	left: -51px;
	z-index: 100;
	transition: all 0.4s ease-in-out;

    .side-menu2{

        background-color: #142026;
        border-radius: 25px;
         ul{
            margin:0;
            padding: 0;
            list-style-type: none;
            li {
                a{
                display: block;
                cursor: pointer;
                padding:30px 10px;
                border-radius: 25px;
                &:hover{
                    background-color: white;
                    .fa-map-location-dot,.fa-headset,.fa-phone-volume{
                        
                            color:black !important;
                            
                        
                    }
                    
                }
            }
        }
        }
    
    }
    .side-menu-trigger{
        display: grid;
        place-items: center;
        svg{
            position: relative;
            cursor: pointer;
            left:0;
        }
    }
}

.btn-primary:hover {
	color: black !important;
	background-color: white;
}

@keyframes links-hover {
	from{
		width:0;
	}
	to{
		width:100%;
	}
	
}

@keyframes side-menu-trigger-animation {
	0%{
		left:0;
	}
	50%{
	left: 5px;
	}
	100%{
		left:0;
	}
	
}




  @keyframes card-animation {
    from {
      bottom: 0px;
    }
    to {
      bottom: 25px;
    }
  }
  .card {
    position: relative;
    bottom: 0;
    box-shadow: 0 0.5rem 1rem rgba(33, 37, 41, 0.15);
  
    /* animation: card-animation 0.4s ease-in-out ; */
    transition: bottom 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    &:hover {
        box-shadow: 0 1rem 3rem rgba(33, 37, 41, 0.175);
        bottom: 25px;
        /* animation: card-animation 0.4s ease-in-out ; */
      }
  }
 
  
@media screen and (min-width: 992px) {
	.ads {
		height: 100vh;
	}

	.hero-section {
		height: 90vh;
        .hero-text {
		width: 50%;
		bottom: 0;
	}
	}

	
	.navbar-sm{
		width:90% !important;
		height: 50px !important;
	    margin:auto;
	}

	.navbar{
		height: 60px !important;
		transition: all 0.5s ease-in-out;
	img{
        height: 50px;

    }
	}
	.progress-container{
		width:100%;
		bottom: 4px;
	}
	
	.sidebar2-show{
		left:0.5vw !important;
	}
}


