
body{
    margin: 0;
    padding: 0;
}
nav img{

    margin-top: -10px;
    position: absolute;
    height: 300px;
   
    width: 250px;
}
nav{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
    align-items: center;
    
}
nav .onglets{
    margin-top: 20px;
    margin-left: 920px;
    margin-bottom: 1.5cm;

}
nav .onglets a{
    text-decoration: none;
    color: #fff;
    border: 2px solid #00925b;
    background-color: #00925b;
    padding: 5px 20px;
    margin-left: 1cm;
    font-size: medium;
    border-radius: 4cm;
}
section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    
   
   
}
.recherche h1{
     display: flex;
    justify-content: column;
    font-size: 30px;
    align-items: center;
    color: #fff;
    background-color: #00925b;
    width: 500px;
    

}
.recherche p{
    margin-top: 1cm;
    color: #303030;
}
form div {
    margin-top: 9cm;
    margin-left: 5cm;
  
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 83px;
    margin-top: 25px;
    }
form div > label {

    margin-bottom: 7px;
    font-weight: 600;
}
form div > input, form div > select, form div > textarea {
    
    background: #8dc9ab;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat, "sans-serif";
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
    }
    
form div > input, form div > select {
    height: 50px;
    padding-left: 10px;
}
    
form div > select {
    
    background:#8dc9ab
    
}
    
form div > textarea {
    height: 195px;
    padding: 15px 0px 0px 10px;
}
    
form div > input::placeholder, form div > textarea::placeholder {
    color:black;
}
    
form div > select:invalid {
    color:black;
}
footer .onglets-1 > a{
    text-decoration: none;
    color:#00925b;
    margin-left: 3cm;
    box-sizing: border-box;
   

}
@media screen and (max-width:280px){
    nav .onglets{
        margin-left: 0px;
        margin-bottom: 20px;
    }
}
    
